.team-members {
	display: flex;
	flex-direction: left;
	align-items: left;
	justify-content: left;
	text-align: left;
	z-index: 10;
	margin-top: 1px
}

.member {
	flex: 0 0 auto;
	width: 300px;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
	padding: 1px;
}

.member img {
	width: 100% !important;
	height: 200px !important;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.button.solidseafoamarrowbutton_custom {
	transition: all .2s ease;
	background-color: #00ffe4;
	font-weight: 700;
	border: 2px solid #00ffe4;
	font-size: 1.125rem;
	padding: 1.7rem 1rem;
	color: #07242d;
	z-index: 10;
}

.container_giri {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#vulnerabilityTable tbody {
    max-height: 700px;
    overflow-y: auto;
    display: block;
}

#vulnerabilityTable thead, 
#vulnerabilityTable tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#vulnerabilityTable {
    width: 85%;
    display: block;
}